.iniAnim {
  opacity: 0.1;
  transition: all 0.5s;
}

.transform_up {
  transform: translateY(20%);
}

.transform_down {
  transform: translateY(-20%);
}

.transform_left {
  transform: translateX(20%);
}
.transform_right {
  transform: translateX(-20%);
}
.aparece {
  opacity: 1;
  transform: none;
}
